.App {
    text-align: center;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.App-header {
    background-color: lightgreen;
    display: flex;
    flex-direction: flex;
    justify-content: left;
    text-align: left;
    padding: 20px 10px;
}

.App-content {
    margin: 10px;
    flex: auto;
}

.App-link {
    color: #61dafb;
}

.App-column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.Total-table {
    width: 200px;
    margin: auto;
}

table,
th,
td {
    border: 1px solid grey;
}

table {
    width: 100%;
    background-color: aliceblue;
    border-collapse: collapse;
}

td {
    text-align: right;
    padding: 6px;
}

thead {
    background-color: black;
    color: white;
}

th {
    padding: 6px;
}